@model ArticleByIdViewModel

@{
    ViewBag.Title = Model.Title;
}
<br>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="product-wrapper">
                <h1 class="h2-responsive">@Model.Title</h1>
                <div>
                    <img src="@Model.ImagePath" width="800" height="400" alt="@Model.Id">
                    <div class="mask">
                    </div>
                </div>
                <br>
                <h4>@Model.Subheader</h4>
                <h5>by @Model.CreatorUsername, @string.Format("{0:dd/MM/yyyy}", Model.CreatedOn) in @Model.CountryName</h5>
                <hr>
                @Html.Raw(Model.Content)
            </div>
        </div>
    </div>
</div>