@model Trouvaille.Server.Models.Articles.ArticlesViewModel

@{
    ViewBag.Title = "Articles";
}

<div class="col-lg-8">
    @using (Html.BeginForm("Index", "Home", FormMethod.Post))
    {
        foreach (var article in Model.Articles)
        {
            <div class="post-wrapper">
                <h1 class="h1-responsive">@article.Title <small class="text-muted"></small></h1>
               <h5>Written by @Html.ActionLink(@article.CreatorUsername + "1", "ById",  new { controller = "user", area = "", id = @article.CreatorId }, new { }), @string.Format("{0:dd/MM/yyyy}", article.CreatedOn)</h5>
                <br>
                <div>
                    <img src=@article.ImagePath class="articles-img" height="400" width="600" alt=@article.Id >
                </div>
                <br>
                <p>@article.Subheader</p>
                @Html.ActionLink("Read more", "ById", "Article", new { id = @article.Id }, new { @class = "btn sunset-color" })
            </div>
            <hr>
        }
        <nav>
            <ul class="pagination">
                @for (int i = 1; i <= Model.PageCount; i++)
                {
                    <li class="page-item"><a href="@Url.Action("Index","Article", new { page = i } )" class="page-link">@i</a></li>
                }
            </ul>
        </nav>
    }
</div>
