@model Trouvaille.Server.Models.PostViewModel

@{
    ViewBag.Title = "Search results";
}

<div class="divider-new">
    <h2 class="h2-responsive wow fadeInUp">Search results</h2>
</div>
@if (!Model.Articles.Any() || !Model.Pictures.Any())
{
    <div class="container">
        <h3>No results were found!</h3>
    </div>
}
else
{
    <div class="row justify-content-center">
        <div class="col-md-8">
            @foreach (var post in Model.Articles)
            {
                <div class="post-wrapper">
                    <h1 class="h1-responsive">@post.Title <small class="text-muted"></small></h1>
                    <h5>Created by @Html.ActionLink(@post.CreatorUsername, "ById", new { controller = "user", area = "", id = @post.CreatorId }, new { }), @string.Format("{0:dd/MM/yyyy}", post.CreatedOn)</h5>
                    <br>
                    <div>
                        <img src=@post.ImagePath class="articles-img" height="400" width="600" alt=@post.Id>
                    </div>
                    <br>
                    @Html.ActionLink("See more", "ById", "Article", new { id = @post.Id }, new { @class = "btn sunset-color" })
                </div>
                <hr>
            }

            @foreach (var post in Model.Pictures)
            {
                <div class="post-wrapper">
                    <h1 class="h1-responsive">@post.Description <small class="text-muted"></small></h1>
                    <h5>Created by @Html.ActionLink(@post.CreatorUsername, "ById", new { controller = "user", area = "", id = @post.CreatorId }, new { }), @string.Format("{0:dd/MM/yyyy}", post.CreatedOn)</h5>
                    <br>
                    <div>
                        <img src=@post.ImagePath class="articles-img" height="400" width="600" alt=@post.Id>
                    </div>
                    <br>
                </div>
                <hr>
            }

        </div>
    </div>
}
