@model Trouvaille.Server.Models.Users.UserProfileViewModel

@{
    ViewBag.Title = Model.UserName;
}

<div class="jumbotron">
    <div class="row justify-content-center">
        <div class="col-md-3">
            <img width="150" src=@Model.ImagePath class="rounded-circle" alt="@Model.UserName" />
        </div>
        <div class="col-md-9">
            <h1>@Model.UserName </h1>
            <h2> @Model.FirstName @Model.LastName</h2>
        </div>
    </div>
    <div>
        @Html.Partial("_PostsByUser", Model)
    </div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
