@model Trouvaille.Server.Models.Users.UserProfileViewModel

@{ 
    ViewBag.Title = Model.UserName;
}

<div class="jumbotron">
    <div class="row justify-content-center">
        <div class="col-md-3">
            <img width="150" src=@Model.ImagePath class="rounded-circle" alt="@Model.UserName" />
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-md-4">
            <p>@Model.UserName - @Model.FirstName @Model.LastName</p>
        </div>
    </div>

    @if (Model.Articles.Any())
    {
        <div class="divider-new">
            <h2 class="h2-responsive wow fadeInUp">Articles</h2>
        </div>

        foreach (var article in Model.Articles)
        {
            <div class="media mb-1">
                <a class="media-left waves-light">
                    <img class="rounded-circle" height="100" src=@article.ImagePath alt=@article.ImagePath>
                </a>
                <div class="media-body">
                    <h4 class="media-heading">
                        @Html.ActionLink(@article.Title, "ById", new { controller = "Article", area = "", id = @article.Id })
                    </h4>                  
                </div>
            </div>
        }
    }

    @if (Model.Pictures.Any())
    {
        <div class="divider-new">
            <h2 class="h2-responsive wow fadeInUp">Pictures</h2>
        </div>

        foreach (var picture in Model.Pictures)
        {
            <div class="media mb-1">
                <a class="media-left waves-light">
                    <img class="rounded-circle" height="100" src=@picture.ImagePath alt=@picture.ImagePath>
                </a>
                <div class="media-body">
                    <h4 class="media-heading">
                        @picture.Description
                    </h4>
                </div>
            </div>
        }
    }
    </div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
