@model Trouvaille.Server.Models.Users.UserProfileViewModel
@{
    ViewBag.Title = "Profile";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="jumbotron">
    <div class="row">
        <div class="col-md-3">
            <img width="150" src=@Model.ImagePath class="rounded-circle" />
        </div>
        <div class="col-md-5">
            <h2>@Model.UserName</h2>
            <h4>@Model.FirstName @Model.LastName</h4>       
        </div>
        <div class="col-md-4">
            @Html.ActionLink("Add new article", "CreateArticle", new { controller = "profile" }, new { @class = "btn sunset-color" })
            @Html.ActionLink("Add new picture", "UploadPicture", new { controller = "profile" }, new { @class = "btn sunset-color" })
            @Html.ActionLink("Add new trouvaille", "CreatePlace", new { controller = "profile" }, new { @class = "btn sunset-color" })
        </div>
    </div>
    <div class="row">
        <div class="col offset-2">           
        </div>
        <div id="profile-container" class="col-md-12">
            @Html.Partial("_PostsByUser", Model)
        </div>
    </div>
</div>

@section Scripts {
    <script type="text/javascript" src="http://ecn.dev.virtualearth.net/mapcontrol/mapcontrol.ashx?v=7.0"></script>
    <script async defer
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDrFFeTMMLaOj49X29A_qeVbsMDs97rAfQ&callback=initMap">
    </script>

    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/map")
    @Scripts.Render("~/bundles/redirect")
}